<div class="container">
	<div class="user-input">
		<h1>Log in</h1>
	</div>

	<div class="login-form">
		<div id="notice">
			<p><%= flash[:notice] %></p> 
		</div>
		
		<%= render 'form' %>
	</div>

	<p id="signup-user">Don't have an account? <%= link_to "Sign Up", '/signup' %></p>
</div>
