/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

img {
  height: 40px;
}

.login {
  text-align: center;
}

.login h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.btn-login {
  background-color: #d00a88;
  color: #fff;
  border: none;
  width: 300px;
  height: 35px; 
}

.form-control {
  width: 300px;
  border-radius: 0px;
  margin: auto;
}

.login-form {
  padding: 30px;
  margin: auto;
  width: 345px;
}


::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}